body {
    height: 100vh; /* viewport height. It works like the percentage unit as well, meaning 100%. */
    width: 100vw; /* viewport width. It works like the percentage unit., meaning 100% */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

#game-board {
    background-color: #ccc;
    width: 100vmin; /* Viewport Minimum (vmin). This unit is based on the smaller dimension of the viewport. If the viewport height is smaller than the width, the value of 1vmin will be equal to 1% of the viewport height. */
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr); /* We want our grid to have always 21 squares at the exact same size, wanting browser to automatically calculate the size */
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: hsl(200, 100%, 50%);
    border: .25vmin solid black;
}

.food {
    background-color: hsl(50, 100%, 50%);
    border: .25vmin solid black;
}